<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="game-panel">

    <!-- Pause Button -->
    <div class="header">
        <form method="POST" action="/pause">
            <button class="pause" type="submit">
                {% if pause %}
                    ▶️
                {% else %}
                    ⏸
                {% endif %}
            </button>
        </form>
    </div>

    <!-- Board -->
    <form method="POST">
        <div class="board">
            {% for i in range(9) %}
                <button class="cell {{ board[i]|lower }}"
                        name="cell"
                        value="{{ i }}"
                        {% if winner or pause %}disabled{% endif %}>
                    {{ board[i] }}
                </button>
            {% endfor %}
        </div>
    </form>

    <!-- Info -->
    <div class="info">
        {% if winner %}
            {% if winner == "Draw" %}
                DRAW
            {% else %}
                {{ winner }} WINS
            {% endif %}
        {% else %}
            {% if pause %}
                GAME PAUSED
            {% else %}
                TURN : {{ current_player }}
            {% endif %}
        {% endif %}
    </div>

    <!-- Score -->
   <div class="score-bar">
        <div class="score red">❌ {{ score_x }}</div>
        <div class="score green">⭕ {{ score_o }}</div>
    </div>

    <!-- Restart -->
    <form method="POST" action="/reset">
        <button class="restart">RESTART</button>
    </form>

</div>

</body>
</html>
